spring:
  mail:
    host: smtp.gmail.com
    port: 587
    username: jyotidangal060@gmail.com
    password: xabw nqme seoq mbcd   # App password (16-char, ok to keep spaces)
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  datasource:
    url: jdbc:postgresql://localhost:5432/clients
    username: postgres
    password: Deerwalk
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
#    properties:
#      hibernate:
#        dialect: org.hibernate.dialect.PostgreSQLDialect



server:
  port: 9090

logging:
  level:
    org.springframework.mail: DEBUG
    org.springframework.mail.javamail: DEBUG
